# Dependencies
node_modules
npm-debug.log

# Environment files
.env
.env.local
.env.prod
config

# Git
.git
.gitignore

# Documentation
README.md
*.md

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# CI/CD
.github

# Build artifacts
dist
build

# ignore tests
tests
coverage